body {
	font-family: Arial;
}

#messages {
	width: 100%;
	padding: 0;
	height: 2%;
	color: white;
	background-color: #1E58BC;
}

#messages li {
	list-style-type: none;
	padding: 5px;
}

#messages li:nth-child(even) {
	background-color: #7EA1DC;
}